
.sundance{
	$font-primary: benton-sans, Helvetica, sans-serif;
	$font-secondary: benton-sans-extra-compressed, Helvetica, sans-serif;

	.headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6{
	  font-family: $font-primary;
	  font-weight: 300;
	  text-transform: lowercase;
	  line-height: 1.08;
	}

	.headline-1{font-size: var(--fs10);}
	.headline-2{font-size: var(--fs09);}
	.headline-3{font-size: var(--fs07);}
	.headline-4{font-size: var(--fs05);}
	.headline-5{font-size: var(--fs04);}
	.headline-6{font-size: var(--fs02);}

	.secondary-1, .secondary-2, .secondary-3, .secondary-4, .secondary-5, .secondary-6{
	  font-family: $font-secondary;
	  font-weight: 400;
	  text-transform: uppercase;
	  line-height: 1;
	}

	.secondary-1{font-size: var(--fs13);}
	.secondary-2{font-size: var(--fs10);}
	.secondary-3{font-size: var(--fs09);}
	.secondary-4{font-size: var(--fs07);}
	.secondary-5{font-size: var(--fs05);}
	.secondary-6{font-size: var(--fs04);}

	.tertiary-1, .tertiary-2, .tertiary-3, .tertiary-4, .tertiary-5, .tertiary-6{
	  font-family: $font-primary;
	  font-weight: 400;
	  text-transform: capitalize;
	  line-height: 1.08;
	}
	
	.tertiary-1{font-size: var(--fs10);}
	.tertiary-2{font-size: var(--fs09);}
	.tertiary-3{font-size: var(--fs07);}
	.tertiary-4{font-size: var(--fs05);}
	.tertiary-5{font-size: var(--fs04);}
	.tertiary-6{font-size: var(--fs02);}

	.label-lg, .label-md, .label-sm, .label-xs, .label-secondary-lg, .label-secondary-md, .label-secondary-sm, .label-secondary-xs{
	  font-family: $font-primary;
	  font-weight: 400;
	  line-height: 1.5;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	}

	.label-secondary-lg, .label-secondary-md, .label-secondary-sm, .label-secondary-xs{
	  text-transform: capitalize;
	}

	.button-lg, .button-md, .button-sm, .button-xs{
		text-transform: uppercase;
		font-weight:700;
		letter-spacing:1.5px;
	}

	.label-lg, .label-secondary-lg, .button-lg, .body-lg{font-size: var(--fs04);}
	.label-md, .label-secondary-md, .button-md, .body-md{font-size: var(--fs02);}
	.label-sm, .label-secondary-sm, .button-sm, .body-sm{font-size: var(--fs01);}
	.label-xs, .label-secondary-xs, .button-xs, .body-xs{font-size: var(--fs00);}

	.body-2{
	  font-family: $font-primary;
	  font-size: .875rem;
	  font-weight: 400;
	  font-style: normal;
	  line-height: 1.43;
	  letter-spacing: normal;
	}

	.subhead-1{
	  font-family: $font-primary;
	  font-size: 1rem;
	  font-weight: 300;
	  line-height: 1.25;
	  letter-spacing: normal;
	}

	.subhead-2{
	  font-family: $font-primary;
	  font-size: .875rem;
	  font-weight: 300;
	  line-height: 1.14;
	  letter-spacing: normal;
	}

	.button{
	  font-family: $font-primary;
	  font-size: 1rem;
	  text-transform: uppercase;
	  font-weight: 700;
	  line-height: 1.125;
	  letter-spacing: 1.25px;
	}

	.caption{
	  font-family: $font-primary;
	  font-size: .875rem;
	  font-weight: 600;
	  text-transform: uppercase;
	  line-height: 1;
	  letter-spacing: 1px;
	}

	.label{
	  font-family: $font-primary;
	  font-size: .75rem;
	  font-weight: 600;
	  text-transform: uppercase;
	  line-height: .875;
	  letter-spacing: 1.5px;
	}

	p{
	  font-family: $font-primary;
	  font-weight: 300;
	  font-style: normal;
	  line-height: 1;
	  margin-top:0;
	  margin-bottom:1rem;
	}
}


@media screen and (min-width: 960px){
  .fs-desktop-15{font-size: var(--fs15);}
  .fs-desktop-14{font-size: var(--fs14);}
  .fs-desktop-13{font-size: var(--fs13);}
  .fs-desktop-12{font-size: var(--fs12);}
  .fs-desktop-11{font-size: var(--fs11);}
  .fs-desktop-10{font-size: var(--fs10);}
  .fs-desktop-09{font-size: var(--fs09);}
  .fs-desktop-08{font-size: var(--fs08);}
  .fs-desktop-07{font-size: var(--fs07);}
  .fs-desktop-06{font-size: var(--fs06);}
  .fs-desktop-05{font-size: var(--fs05);}
  .fs-desktop-04{font-size: var(--fs04);}
  .fs-desktop-03{font-size: var(--fs03);}
  .fs-desktop-02{font-size: var(--fs02);}
  .fs-desktop-01{font-size: var(--fs01);}
  .fs-desktop-00{font-size: var(--fs00);}
}