:root {
  /* brand-colors */
  --brand-primary: #ffc600;
  --brand-secondary: #ffffff;
  /* fonts */
  --font-primary: Unitext, Helvetica Neue, Helvetica, Sans-serif;
  /* --font-secondary: Helvetica; */
  /* margin-units */
  --m: 1rem;
  --m-small: 0.25rem;
  --m-large: 2rem; 
  /* font sizing */
  --fs15: 4.25rem;
  --fs14: 4rem;
  --fs13: 3.75rem;
  --fs12: 3.5rem;
  --fs11: 3.25rem;
  --fs10: 3rem;
  --fs09: 2.5rem;
  --fs08: 2.25rem;
  --fs07: 2rem;
  --fs06: 1.75rem;
  --fs05: 1.5rem;
  --fs04: 1.25rem;
  --fs03: 1.125rem;
  --fs02: 1rem;
  --fs01: .875rem;
  --fs00: .75rem;
}