:root {
  /* brand-colors */
  --brand-primary: #ffc600;
  --brand-secondary: #ffffff;
  /* fonts */
  --font-amc: Unitext, Helvetica Neue, Helvetica, Sans-serif;
  --font-sdtv-primary: benton-sans, Helvetica, sans-serif;
  --font-sdtv-secondary: benton-sans-extra-compressed, Helvetica, sans-serif;
  /* --font-secondary: Helvetica; */
}