:root {
  /* brand-colors */
  --brand-primary: #ffc600;
  --brand-secondary: #ffffff;
  /* fonts */
  --font-amc: Unitext, Helvetica Neue, Helvetica, Sans-serif;
  /* --font-secondary: Helvetica; */
}