.button-light, .button-dark, .button{
	font-family: $font-primary;
	padding:.5rem 1rem;
	display:inline-flex;
	text-align: center;
	align-items: center;
	line-height: 100%;
}

.button-primary{
	border:2px solid;
	transition: .5s ease-in-out;
	background: var(--primary-brand);
	&:hover{
		transform:scale(1.25);
		transition: .5s ease-in-out;
	}
}

.button-left{
		transform-origin: center left;
}

.button-right{
		transform-origin: center right;
}

.button-secondary{
	border:2px solid;
	img{filter: invert(1)};
	&:hover{
		img {filter: invert(0);}
	}
}
