.header{
	.lockup{
		display: flex;
		align-items: center;
		h5{
			margin-left:1rem;
		}
	}
}

.top-nav, .side-nav{
	display: flex;
	li {
		a{
		    padding: .5rem 1rem;
		    border:1px solid transparent;
		    color:#efefef;
		    opacity:0.6;
		    transition:.5s ease-in-out;
			&.active {
				opacity:1;
				border-bottom:1px solid rgba(155,155,155,1);
				background:rgba(155,155,155,0.1);
			}
			&:hover{
			  border-bottom:1px solid white;
				background:rgba(255,255,255,0.4);
				opacity:1;
			}
		}
	}
}

@media screen and (max-width:768px){
	.top-nav li a, .side-nav li a{
		padding:.5rem;
		display:block;
		text-align: center;
	}

	ul.side-nav{
		display:grid;
		.nav-title{
			grid-row:1;
			padding:1rem 0;
		}
		li{
			grid-row:2;
		}
		width:100%;
		overflow-x:scroll;
	}
}
