.tile{
  justify-items: center;
  background:#111;
  &:hover{
    background:#777;
  }
  &.dark{
    background: #efefef;
    color:black;
    &:hover{
      background:#999;
    }
  }
}

.tile {
    display: grid;
    justify-items: center;
    align-items: center;
}

.colors span{
  display:grid;
  grid-gap:1rem;
}

.colors .color{
  border: 1px solid white;
  box-sizing: border-box;
  height: 10rem;
  width: 100%;
}
