
.typeTable .row .title{
  min-width:8rem;
  flex-grow: 0;
}

.headline-1{
  font-family: $font-primary;
  font-size: 3.75rem;
  font-weight: 200;
  line-height: get-line-height(4.25rem,3.75rem);
  letter-spacing: -0.068rem;
}

.headline-2{
  font-family: $font-primary;
  font-size: 3rem;
  font-weight: 300;
  line-height: get-line-height(3.25rem,3rem);
  letter-spacing: -0.5px;
}

.headline-3{
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: 300;
  line-height: get-line-height(2.25rem,2rem);
  letter-spacing: 1px;
}

.headline-3--strong{
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: get-line-height(2.25rem,2rem);
  letter-spacing: 1px;
}

.headline-4{
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: get-line-height(1.75rem,1.5rem);
  letter-spacing: .25px;
}

.headline-5{
  font-family: $font-primary;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: get-line-height(1.75rem,1.25rem);
  letter-spacing: 2px;
}

.headline-5--strong{
  font-family: $font-primary;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: get-line-height(1.75rem,1.25rem);
  letter-spacing: 2px;
}

.headline-6{
  font-family: $font-primary;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: get-line-height(1.25rem,1.125rem);
  letter-spacing: 2px;
}

.subhead-1{
  font-family: Unitext;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.subhead-2{
  font-family: Unitext;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  letter-spacing: normal;
}

.body-1{
  font-family: Unitext;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
}

.body-2{
  font-family: Unitext;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

p{
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  margin-top:0;
  margin-bottom:1rem;
}