@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Light.woff2') format('woff2'),
        url('GTAmerica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Black.woff2') format('woff2'),
        url('GTAmerica-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-LightItalic.woff2') format('woff2'),
        url('GTAmerica-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-RegularItalic.woff2') format('woff2'),
        url('GTAmerica-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-BlackItalic.woff2') format('woff2'),
        url('GTAmerica-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Editor';
    src: url('Editor-Regular.woff2') format('woff2'),
        url('Editor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Editor';
    src: url('Editor-Medium.woff2') format('woff2'),
        url('Editor-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Editor Underline';
    src: url('EditorUnderline-Regular.woff2') format('woff2'),
        url('EditorUnderline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
