/* tenants.scss */

@import 'theme/vanilla';
@import 'theme/amc';
@import 'theme/sundance';
@import 'theme/ifc';
@import 'theme/bbca';

/* vanilla.scss */

@import 'vanilla/normalize';
@import 'vanilla/utils';
@import 'vanilla/typography';
@import 'vanilla/grids';
@import 'vanilla/base';

/* components */

@import 'components/button';
@import 'components/cards';
@import 'components/hero';
@import 'components/icons';
@import 'components/navigation';
@import 'components/sidenav';
@import 'components/swimlane';
@import 'components/tables';
@import 'components/tile';

#app-wrap{
  &.dark *{
    background:var(--primary-dark);
    color:var(--primary-light);
  }
  &.light *{
    background:var(--primary-light);
    color:var(--primary-dark);
  }
}

#app-wrap.light-text td, #app-wrap.light-text tBody{
  border:var(--primary-light);
  background:var(--primary-dark);
}
