/* tenants.scss */

@import 'theme/vanilla';
@import 'theme/amc';
@import 'theme/sundance';
@import 'theme/ifc';
@import 'theme/bbca';
@import 'theme/wetv';

/* vanilla.scss */

@import 'vanilla/normalize';
@import 'vanilla/utils';
@import 'vanilla/typography';
@import 'vanilla/grids';
@import 'vanilla/base';

/* components */

@import 'components/button';
@import 'components/cards';
@import 'components/hero';
@import 'components/icons';
@import 'components/downloads';
@import 'components/navigation';
@import 'components/swimlane';
@import 'components/tables';
@import 'components/tile';

#app-wrap{
  &.dark .body, &.dark .header, &.dark .footer{
    background:var(--primary-dark);
    color:var(--primary-light);
    td, tBody{
      border:var(--primary-light);
      background:var(--primary-dark);
    }
  }
  &.light .body, &.light .header, &.light .footer{
    background:var(--primary-light);
    color:var(--primary-dark);
    td, tBody{
      border:var(--primary-dark);
      background:var(--primary-light);
    }
  }
  &.light .icon.svg, &.light .logo.svg, {
    filter: invert(1);
    background:transparent;
  }
}
