@font-face {
    font-family: 'Futura Round';
    src: url('FuturaRound-Book.eot');
    src: url('FuturaRound-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaRound-Book.woff2') format('woff2'),
        url('FuturaRound-Book.woff') format('woff'),
        url('FuturaRound-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Round Cond';
    src: url('FuturaRoundCond-Bold.eot');
    src: url('FuturaRoundCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaRoundCond-Bold.woff2') format('woff2'),
        url('FuturaRoundCond-Bold.woff') format('woff'),
        url('FuturaRoundCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Round';
    src: url('FuturaRound-Medium.eot');
    src: url('FuturaRound-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaRound-Medium.woff2') format('woff2'),
        url('FuturaRound-Medium.woff') format('woff'),
        url('FuturaRound-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

