.vanilla{
  --primary-dark: #2E2A3B;
  --primary-light: #F5F5F6;
  --primary-brand: #529BD9;
  --accent-dark: #1f1f1f; //#7d8b99
  --accent-light: #B9CCED;

  &.dark header{
    background-color: var(--accent-dark);
  }
  &.light header{
    background-color: var(--accent-light);
  }

}
